
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet" />
    <link href="/static/css/site.css" rel="stylesheet" />
</head>
<body>
<div class="function-outer">
    <div class="logo-outer"><img src="/images/logo.png" /></div>
    <div>
        <a href="/storage">
            <div class="block orange">
                <i class="fa fa-pie-chart"></i>
                <div class="text">Storage</div>
            </div>
        </a>
        <div class="block green">
            <i class="fa fa-database"></i>
            <div class="text">Database</div>
        </div>
        <div class="block yellow">
            <i class="fa fa-globe"></i>
            <div class="text">Web App</div>
        </div>
        <div class="block cyan">
            <i class="fa fa-microchip"></i>
            <div class="text">GPU Computing</div>
        </div>
        <div class="block pink">
            <i class="fa fa-mixcloud"></i>
            <div class="text">CDN</div>
        </div>
        <div class="block purple">
            <i class="fa fa-balance-scale"></i>
            <div class="text">Load Balance</div>
        </div>
        <div class="block blue">
            <i class="fa fa-money"></i>
            <div class="text">Billing</div>
        </div>
        <div class="block gray">
            <i class="fa fa-sign-out"></i>
            <div class="text">Sign Out</div>
        </div>
    </div>
</div>
</body>
</html>


