<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title></title>
    <link href="/static/css/font-awesome.min.css" rel="stylesheet"/>
    <link href="/static/css/site.css" rel="stylesheet"/>
</head>
<body>
<div class="sidebar-left">
    <div class="logo-outer small">
        <a href="/">
            <img src="/static/img/logo.png"/>
        </a>
    </div>
    <div class="menu-list">
        <a href="/storage">
            <div class="menu-item orange active">
                <i class="fa fa-pie-chart"></i>
                Storage
            </div>
        </a>
        <div class="menu-item green">
            <i class="fa fa-database"></i>
            Database
        </div>
        <div class="menu-item yellow">
            <i class="fa fa-globe"></i>
            Web App
        </div>
        <div class="menu-item cyan">
            <i class="fa fa-microchip"></i>
            GPU Computing
        </div>
        <div class="menu-item pink">
            <i class="fa fa-mixcloud"></i>
            CDN
        </div>
        <div class="menu-item purple">
            <i class="fa fa-balance-scale"></i>
            Load Balance
        </div>
        <div class="menu-item blue">
            <i class="fa fa-money"></i>
            Billing
        </div>
        <div class="menu-item gray">
            <i class="fa fa-sign-out"></i>
            Sign Out
        </div>
    </div>
</div>
<div class="sidebar-right" id="app">
    <div class="chain-outer">
        <h2 class="header">文件存储结构</h2>
        <div class="chain" >
            <template v-for="(block, index) in chains">

            <!--<template v-for="(block, index) in chain[0]">-->
                <div class="chain-block" >
                    <div class="chain-block-number">Block #${index+1}</div>
                    <div class="chain-block-role">(${block.role})</div>
                    <div class="chain-block-node">${block.address}</div>
                </div>
                <div class="chain-arrow"><img src="/static/img/arrow.png"/></div>
                </template>
            </template>
        </div>
        <div class="chain" >
            <template v-for="(block, index) in chains1">

                <!--<template v-for="(block, index) in chain[0]">-->
                <div class="chain-block" >
                    <div class="chain-block-number">Block #${index+1}</div>
                    <div class="chain-block-role">(Replica0)</div>
                    <div class="chain-block-node">${block.address}</div>
                </div>
                <div class="chain-arrow"><img src="/static/img/arrow.png"/></div>
            </template>
    </div>
            </template>
        <div class="chain" >
            <template v-for="(block, index) in chains2">

                <!--<template v-for="(block, index) in chain[0]">-->
                <div class="chain-block" >
                    <div class="chain-block-number">Block #${index+1}</div>
                    <div class="chain-block-role">(Replica1)</div>
                    <div class="chain-block-node">${block.address}</div>
                </div>
                <div class="chain-arrow"><img src="/static/img/arrow.png"/></div>
            </template>
            </template>
            <!--<div class="chain-block">-->
                <!--<div class="chain-block-number">Block #2</div>-->
                <!--<div class="chain-block-role">(Master)</div>-->
                <!--<div class="chain-block-node">0ab9486558a9</div>-->
            <!--</div>-->
            <!--<div class="chain-arrow"><img src="/static/img/arrow.png"/></div>-->
            <!--<div class="chain-block error">-->
                <!--<div class="chain-block-number">Block #3</div>-->
                <!--<div class="chain-block-role">(Master)</div>-->
                <!--<div class="chain-block-node">b9480a6558a9(offline)</div>-->
            <!--</div>-->
            <!--<div class="chain-arrow"><img src="/static/img/arrow.png"/></div>-->
            <!--<div class="chain-block">-->
                <!--<div class="chain-block-number">Block #4</div>-->
                <!--<div class="chain-block-role">(Master)</div>-->
                <!--<div class="chain-block-node">b9480a6558a9</div>-->
            <!--</div>-->
            <!--<div class="chain-arrow"><img src="/static/img/arrow.png"/></div>-->
            <!--<div class="chain-block pending">-->
                <!--<div class="chain-block-number">Block</div>-->
                <!--<div class="chain-block-role">(Master)</div>-->
                <!--<div class="chain-block-node">Electing...</div>-->
            <!--</div>-->
        </div>



        <div v-on:click="redirectD(file)">
            下载
        </div>
    </div>
</div>
</body>


<script src="https://unpkg.com/vue@2.5.2/dist/vue.js"></script>
<script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
<script type="text/babel">

    function deepClone (obj) {
        var _out = new obj.constructor;

        var getType = function (n) {
            return Object.prototype.toString.call(n).slice(8, -1);
        }

        for (var _key in obj) {
            if (obj.hasOwnProperty(_key)) {
                _out[_key] = getType(obj[_key]) === 'Object' || getType(obj[_key]) === 'Array' ? deepClone(obj[_key]) : obj[_key];
            }
        }
        return _out;
    }

    let url = new URL(window.location.href)
    let filename = url.searchParams.get("filename");

    var app = new Vue({
        el: '#app',
        delimiters: ['${', '}'],
        data: {
            chains: [],
            chains1: [],
            chains2: []

        },
        created: function () {

            let that = this;
            // `this` 指向 vm 实例
            fetch(`http://localhost:8080/api/block/list?filename=${filename}`).then(function(res) {
                // res instanceof Response == true.
                if (res.ok) {
                    res.json().then(function(data) {
                        data.forEach( (item)=>{
                            let data = deepClone(item[0])
                            console.log(data.address.substring(0, 6).toUpperCase())
                            data.address = data.address.substring(0, 6).toUpperCase();
                            that.chains.push(data)
                            let data1 = deepClone(item[0])
                            data1.address = data1.address.substring(6, 12).toUpperCase();
                            that.chains1.push(data1)
                            let data2 = deepClone(item[0])
                            data2.address = data2.address.substring(12, 18).toUpperCase();
                            that.chains2.push(data2)

                        })
//                        that.chains =
//                        that.chains.push(ch)
                    });
                } else {
                    console.log("Looks like the response wasn't perfect, got status", res.status);
                }
            }, function(e) {
                console.log("Fetch failed!", e);
            });

        },
        methods: {
            redirectD: (file)=>{
                window.location.href =`/api/file/download/?filename=${filename}`
            }
        }
    })

</script>

</html>
